.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: beige;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.header__title {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: baseline;
}

.header__title_name {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 24px;
  text-align: end;
}

.header__title_date {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.header__subtitle:hover {
  color: blue;
}

.header__forecast {
  margin: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
}